bin/
obj/
*.user
*.suo
.vs/
*.dll
*.pdb 
Bugs&Features.md
# Allow Libs directory DLLs to be committed
!Libs/**
# Dump directories
megabonk_split_dump/
cpp2il_dump/
Cpp2IL-*/
.editorconfig
.vscode
Texture2D/